{% trans_default_domain 'FOSUserBundle' %}
<div class='col-sm-12'>
    <form class="form form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <fieldset class='row'>
            {{ form_widget(form._token) }}

            <div class="form-group">
                <label class="col-md-3 control-label" for="input-text">Mot de Passe Actuelle : </label>
                <div class="col-md-5">
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} })  }}
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label"  for="nom">Mot de Passe : </label>
                <div class="col-md-5">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label"  for="nom">Confirmation : </label>
                <div class="col-md-5">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </fieldset>
        <hr class='hr-dashed'>
        <div class='col-sm-7 col-sm-offset-1'>
            <div class='col-md-9 col-md-offset-3'>
                <button class='btn btn-contrast' type='submit'>
                    <i class='icon-save'></i>
                    Enregistrer Votre Profile
            </div>
        </div>
    </form>
</div>
